body{
    display: flex;
    margin: 0;
}
main{
    width: 78vw;
    height: 100vh;
    margin: 10px;
    margin-right: 10px;
}
nav{
    width: 13vw;
    background-color: grey;
    height: 100vh;
}
li {
    display: inline;
    font-size: 20px;
}
button{
    display: none;
    background-color: transparent;
    border: transparent;
    
}
img{
    width: 18px;
}
.nav_item{
    padding: 5px;
    margin: 5px;
}

.nav_item:hover  button{
    display: inline-block;
}

.nav_item:hover{
    background-color: rgba(184, 182, 182, 0.404);
}

button:hover{
    opacity: 0.6;
}
